In [1]:
a="nandu"
type(a)

str

In [2]:
b=[1,2,"aayu",12.3]
type(b)

list

In [3]:
c=12.3
type(c)

float

In [4]:
d=(1,2,"hello")
type(d)

tuple

# Question 2

In [5]:
var1=''
type(var1)

str

In [6]:
var2='[DS,ML,Python]'
type(var2)

str

In [7]:
var3=["DS","ML","Python"]
type(var3)

list

In [8]:
var4=1
type(var4)

int

# question 3

In [9]:
# Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [10]:
10/5

2.0

In [11]:
10%5

0

In [12]:
10//5

2

In [13]:
10**2

100

# question 4

In [14]:
lst=[1,12.3,"nandu",True,[3,4],("hello"),{1,2},{'name':"nandu"},23,"aayu"]
count = 1

In [15]:
for i in lst:
    print(count,i,type(i))
    count +=1

1 1 <class 'int'>
2 12.3 <class 'float'>
3 nandu <class 'str'>
4 True <class 'bool'>
5 [3, 4] <class 'list'>
6 hello <class 'str'>
7 {1, 2} <class 'set'>
8 {'name': 'nandu'} <class 'dict'>
9 23 <class 'int'>
10 aayu <class 'str'>

# question 5

In [16]:
a=10
b=2
count=0
while (a%b)==0:
    a//=b    
    count +=1
print(count)

1

# question 6

In [17]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst:
    if(i%3==0):
        print(i,"is divisible by 3 ")
    else:
        # print("not divisible by 3")
        continue

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

# question 7

In [18]:
#Mutable: Mutable data types are those that can be modified or changed after they are created. When an object or variable of a mutable data type is modified, its internal state can be altered without creating a new object. Examples of mutable data types include lists, dictionaries, and sets in Python. If you have a list and you append an element to it, the original list is modified.
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [19]:
#Immutable: Immutable data types, on the other hand, are those that cannot be changed once they are created. If you want to modify an immutable object, you need to create a new object with the desired changes. Immutable objects preserve their original value throughout their lifetime. Examples of immutable data types include numbers, strings, and tuples in Python. If you have a string and you want to change its content, you need to create a new string with the desired modifications.
my_string = "Hello"
new_string = my_string + " World"
print(my_string)     # Output: Hello
print(new_string)    # Output: Hello World

Hello
Hello World